/*Google Fonts*/

/*===Global===*/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

a{
	text-decoration:none;
}

ul{
	list-style:none;
}

.active{
	color:purple;
	text-decoration:underline;
	font-weight:bold;
}

/*Events*/

section{
	width:80%;
	margin:10px auto;
	margin-bottom: 40px;
}

body, html{
	overflow-x:hidden;
}

body{
	background-color:#192436;
}

.parent{
	display:flex;
	width:100%;
	align-items:center;
	justify-content:space-around;
	font-size:2.5vmin;
	flex-direction:row;
	color: #f2f2f2
}

.parent.child1{
	width:80%;
	display:flex;
	font-family:sans-serif;
	margin:20px auto;
	flex-direction:row;
}

.parent1{
	width:100%;
	display:flex;
	align-items:center;
	flex-direction:column;
	color: #f2f2f2;
	padding-top:80px;
	padding-bottom: 20px;
}

h3{
	font-weight:bold; 
	padding: 10px; 
	color:orange;
}

h5{
	padding: 20px;	
}
/*Mobile Device*/
@media only screen and (max-width:850px){
		
		.menu-button{
			display:block;
		}
		
		.logo{
			position:absolute;
			top:5px;
			left:5px;
		}

		.mobile-menu{
			margin-top:0px;
			border-bottom-right-radius:30%;
		}
		
		.parent{
			flex-direction:column;
		}
	
		.child1{
			padding-bottom: 20px;
		}
		.navbar-brand.logo{
			width: 150px;
		}
		.card-container.card-items img{
			max-width:767px;
		}
}


.img img{
	width:60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.row.img{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  justify-content:center;
  padding:40px;
  grid-template-rows: auto;
  font-size:10px;
  padding-top:20px;
}
#grid > div {
  color: black;
  font-size: 20px;
  padding-right: 10px;
}

.flex-container{
	display:flex;
	flex-direction:column;
	flex-wrap: wrap;
}
.flex-container>div{
	font-size:20px;
	margin: 10px;
	justify-content:space-around;
}
#flex-items{
	display:flex;
	flex-direction:column;
	justify-content:flex-end;

}

/*--Footer---*/
.footer{
    max-width:100%;
    height:20px;
}

#websites{
    width: 30px;
	display:inline-table;
}

#hyperlinks{
    width: auto;
	font-size:15px;
	display:inline-table;
	padding:0 10px;
}
.carousel-inner > .carousel-item > img {
  width:640px;
  height:500px;
}


.card-items{
display:flex; 
justify-content:center;
padding-bottom:30px; 
overflow:hidden;
color:black;
}
.card-data{
 align-items:center;
 width:350px; 
 height:250px; 
 background-color:whitesmoke; 
 border-radius:20px; 
 box-shadow:0 5px 20px rgba(0,0,0,0.5); 
 position:relative; 
 left:-50px; 
}

.grid{
	background-color:whitesmoke;
	font-size:10px;
	display: grid;
	padding:20px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 10px;
	align-items:center;
    grid-template-rows: auto;
}

h1{
	color:white;
	padding:20px;
}




